@use '../basics.scss' as b;

nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 5vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    #Navegation {
        z-index: 2;
        margin-top: 1.5vw;
    }

    #Navegation,
    #info {
        button {
            cursor: pointer;
            background-color: transparent;
            border: none;

            .icons {
                @include b.t(1s);
                color: b.$branco
            }
        }
    }

    #scrollBar {
        height: 50vh;
        width: 1px;
        background-color: white;

        div {
            height: 10vh;
            width: 1px;
            background-color: b.$azul;
        }
    }

    #language {
        display: flex;
        flex-direction: column;

        button,
        p {
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: b.$branco;
            @include b.ls(1.5vw);
            text-align: center;

        }

        p{
            transform: rotate(90deg);
        }

        .ativo {
            color: b.$branco;
        }

        .inativo {
            color: b.$azul;
        }

    }

    #navOpen {
        @include b.t(1s);
        box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.419);
        height: 100vh;
        position: absolute;
        width: 50vw;
        background-color: b.$preto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        padding-top: 5vh;

        a {
            color: b.$cinza;
            @include b.ls(4vw);
            text-decoration: none;
            cursor: pointer;
            @include b.t(0.5s);

            display: block;
            opacity: 0;
            transform: translateX(-30px);
            transition: all 0.4s ease;

            // Delay com base na ordem (caso use nth-child)
            &:nth-child(1) {
                transition-delay: 0.5s;
            }

            &:nth-child(2) {
                transition-delay: 0.6s;
            }

            &:nth-child(3) {
                transition-delay: 0.7s;
            }

            &:nth-child(4) {
                transition-delay: 0.8s;
            }

            &.aparecer {
                opacity: 1;
                transform: translateX(0);
            }
        }

        a:hover {
            text-shadow: 0px 0px 20px b.$branco;
            color: b.$cinza;
        }
    }
}

.overline {
    position: relative;
    background-image: linear-gradient(to right, b.$azul 70%, transparent 100%);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 120% 2px;
    padding-top: 10px;
}

#expoMode {

    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;

    p {
        @include b.ls(1.5vw);
        color: b.$branco;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;

        &::before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:checked+.slider::before {
        transform: translateX(24px);
    }
}