@use '../../basics.scss' as b;

#HeaderPC {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px 30px;
    height: 100vh;
    @include b.t(0.5s);

    #titleHeaderPC {
        @include b.t(0.5s);
        width: 60vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            color: b.$branco;
            font-size: 3vw;
            margin-left: 15vw;
            margin-bottom: -5vw;
            opacity: 1;
            transform: translateY(0);
        }

        // Entrada (devagar)
        p.entrada {
            transition: opacity 0.1s ease, transform 1s ease;
            transform: translateY(0);
        }

        // Saída (rápida)
        p.saida {
            transition: opacity 1s ease, transform 0.3s ease;
            transform: translateY(-30px);
        }


        #titleContainer {
            position: relative;
            color: b.$branco;

            h1 {
                @include b.ls(20vw, 700);
                @include b.t(1s);
            }

            #titleShadow {
                position: absolute;
                top: 2px;
                left: 2px;
                background: linear-gradient(to right, b.$azul, b.$branco, b.$azul);
                background-size: 200% 200%;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                filter: blur(20px);
                z-index: -1;
                animation: animaGradiente 5s ease infinite;
            }

            @keyframes animaGradiente {
                0% {
                    background-position: 0% 50%;
                }

                50% {
                    background-position: 100% 50%;
                }

                100% {
                    background-position: 0% 50%;
                }
            }
        }
    }

    nav {
        padding: 1.5vw;
        width: 40vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include b.t(0.5s);

        a,
        select {
            color: white;
            text-decoration: none;
            @include b.ls(1.5vw);
            @include b.t(0.5s);
        }

        select {
            background-color: transparent;
            border: none;

            option {
                background-color: b.$azul;
            }
        }
    }

    &.shrink {
        height: 10vh;
        padding: 10px 20px;

        #titleHeaderPC {
            width: 50vw;
            height: 10vh;
            align-items: flex-start;
            color: b.$branco;

            #titleContainer h1 {
                @include b.ls(4vw, 800);
                @include b.t(0.5s);
            }
        }

        nav {
            width: 50vw;

            a,
            select {
                @include b.ls(2vw);
                @include b.t(0.5s);
            }
        }
    }
}